.appbar{
    background-color: rgb(178, 178, 238);
    width: 100%;
    top: 0;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    width: inherit;
}

.search-wrapper {
    border: 0;
    border-radius: 20px;
    padding: 10px;
    font-size: 14px;
    padding: 10px;
    background: white;
    
    input {
        border: 0;
        border-radius: 20px;
        padding: 10px;
        font-size: 14px;
    }

    button {
        border: 0;
        font-weight: bold;
    }
}

.dropdown{
    display: flex;
    flex-flow: column;
    background: white;
    justify-content: space-between;
    position: absolute;
    border: 1px solid #ccc;
    padding: 10px;
    right: 0;
    top: 75px;
    width: 250px;
    border-radius: 5px;
}

.dropdown:before {
    content: ' ';
    height: 0;
    position: absolute;
    width: 0;
    top: -10px;
    right: 124px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 10px solid white;
}

.notificationList{
    padding: 10px;
}

.namecontainer{
    display: flex;
    flex-flow: row;
    align-items: center;
}

.notificationUnread{
    margin: 0 10px;
    border: 0px;
    border-radius: 50%;
    padding: 10px;
    font-weight: bold;
    background: red;
    color: white;
}

.notificationRead {
    margin: 0 10px;
    border: 0px;
    border-radius: 50%;
    padding: 10px;
    font-weight: bold;
    background: #ccc;
    color: black;
}